extends layout

block content
    .jumbotron
        .container
            h1 #{title}
            p
                |Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptatum iusto, quae, expedita, repellendus adipisci 
                |voluptas et aperiam repellat deserunt quasi inventore vero dolores totam molestia
                |e facilis ratione sint animi.
            p
                a.btn.btn-primary.btn-lg(href='#',
                role='button') Learn more>>
    .container
        .row
            .col-md-4
                h3 Software Issues
                p
                        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptatum iusto, quae, expedita, repellendus adipisci 
                |voluptas et aperiam repellat deserunt quasi inventore vero dolores totam molestia
                |e facilis ratione sint animi.
                p
                   a.btn.btn-default(href='#',role='button') View details>> 
            .col-md-4
                h3 Software Installations
                p
                        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptatum iusto, quae, expedita, repellendus adipisci 
                |voluptas et aperiam repellat deserunt quasi inventore vero dolores totam molestia
                |e facilis ratione sint animi.
                p
                    a.btn.btn-default(href='#',role='button') View details>> 
            .col-md-4
                h3 Hardware Issues
                p
                            |Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptatum iusto, quae, expedita, repellendus adipisci 
                |voluptas et aperiam repellat deserunt quasi inventore vero dolores totam molestia
                |e facilis ratione sint animi.
                p
                    a.btn.btn-default(href='#',role='button') View details>> 
            