doctype html
html
    head
        title Weblab.Inc
        link(rel="stylesheet",
        href="/stylesheets/bootstrap.css")
    body
        nav.navbar.navbar-inverse
                .container
                    .navbar-header
                            span.sr-only Toogle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='#') PC Repairs
                    #navbar.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li
                                a(href='/index') Home
                            li
                                a(href='/about') About
                            li
                                a(href='/contact') Contact
                    // /.nav-collapse
        block content
        
        hr
        footer 
         p(class="text-center") 2015 &copy; Company, Inc.
            // /container
                        